* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Andale Mono, monospace;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
header {
    padding: 10px;
}

.logo {
    font-size: x-large;
    font-weight: bold;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.btn-menu ul li:nth-child(2) a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
/* header */

/* comminity */
.community {
    width: 100%;
    height: 300px;
    background-color: black;
    border-radius: 8px;
    color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.community .col {
    width: 55%;
}

.community .col .post p{
    margin-left: 30px;
}

.hero img{
    position:absolute;
    width: 400px;
    right: 60px;
    bottom: -20px;
}

input[name=promocode]{
    margin-top: 20px;
    margin-left: 30px;
    padding: 13px 50px ;
    text-align: center;
    height: 40px;
}
/* comminity */

/* list-img */
.list-img {
    margin-top: 30px;
    text-align: center;
}

.list-img img {
    width: 100px;
}
.list-img li {
    list-style: none;
}
.list-img ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* list-img */

/* cash */
.cash{
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.cash .get {
    text-align: center;
    padding: 50px;
}

.cash .get ul li{
    list-style: none;
    text-align: start;
    padding: 10px;
}

.get a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 800;
}
.cash .get p{
    text-align: justify;
}

.cash img {
    width: 300px;
}
/* cash */
/* links */

.container .row {
    width: 100%;
    height: 300px;
    background-color: black;
    border-radius: 8px;
    color: white;
    position: relative;
    margin-top: 60px;
}

.container .row .col{
    width: 50%;
}

.container .row .col img {
    width: 600px;
    position: absolute;
    right: 60px; 
    bottom: -40px;
}
.post h1 {
    width: 80%;
    padding: 30px;
}

.post ul li{
    list-style: none;
    display: block;
    align-items:center;
    margin-left: 30px;
}

.post a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

.input{
    display: block;
    align-items: center;
    margin-top: 20px;
}

input[name=google]{
    margin-left: 30px;
    padding: 13px 20px ;
    text-align: center;
    height: 40px;
}

input[type=submit]{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 8%, #FF5ACD 80%);
    color: white;
    padding: 13px 30px ;
    font-size:small;
    border-radius: 5px;
}

#Google-Button{
    position:absolute;
    margin-left: 30px;
    text-align: center;
}
/* links */
/* card */
.card {
    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;

}
.card .col {
    width: 25%;
}


.card img {
    width: 250px;
}
/* card */


/* Sign up */
.sign {
    width: 70%;
    height: 400px;
    background-color: black;
    border-radius: 8px;
    color: white;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}

.sign .col{
    width: 50%;
}
.sign h1{
    text-align: center;
}
.sign .col form ul{
    display: block;

}
.sign .col ul li{
    margin: auto;
    align-items: center;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.sign input[name=nom],input[name=prenom],input[name=email],input[name=password]{
    margin-top: 10px;
    text-align: center;
    border: none;
    padding: 5px 30px;
}

/* Sign up */

/* media query small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* media query Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* media query Large */
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


@media screen and (max-width :1099px){
    .container .row .col img {
        width: 500px;
        position: absolute;
        right: 10px; 
        bottom: -5px;
    }
    .container .row .col {
        width: 60%;
    }
    .col-img {
        width: 40%;
    }
}